#mainPage_image{
    /* background-image:url("../Photo/main.jpg") ;*/
    background-size:cover;
    height:100%;
    z-index: -1;
}
#mainPage_left{
    height: 62px;
    background-color: #4285F4;
    width: 100%;
    display: block;
    margin-top: 0px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.06);
}
.mainPage_title{
    margin-top: -10px;
    margin-bottom: 20px;
    color: #FFFFFF;
    margin-left: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    font-stretch: normal;
    font-size: 20px;
    line-height: 70px;
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
    white-space: nowrap;
    width: 100px;
    height: 40px;
    align-items: center;
}
#mainPage_time{
    margin-top: -5px;
}
.mainPage_divide1{
    width: 1080px;
    height: 0px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    border:0.5px solid rgba(0,0,0,0.2);
}
.mainPage_divide{
    width: 1080px;
    height: 0px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border:0.5px solid rgba(0,0,0,0.2);
}
.mainPage_part{
    padding-left: 90px;
    width: 1200px;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
}
.mainPage_partOnePaper{
    height: 250px;
    width: 300px;
    background-color: #FFFFFF;
    margin-left: 52px;
    margin-top: 15px;
    box-shadow:  0 0 7px rgba(0,0,0,.14),0 7px 15px rgba(0,0,0,.23);
    float: left;
    white-space:nowrap;
}
.mainPage_partTwoPaper{
    height: 280px;
    width: 250px;
    background-color: #FFFFFF;
    margin-left: 43px;
    margin-top: 40px;
    box-shadow: 0 0 7px rgba(0,0,0,.14),0 7px 15px rgba(0,0,0,.23);
    float: left;
    white-space:nowrap;
}
.mainPage_barChart{
    background: #ffffff;
    width: 710px;
    height: 280px;
    margin-top: 40px;
    margin-left: 75px;
    float: left;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.1), 0px 2px 1px rgba(0,0,0,0.1);
}
.mainPage_horizontalBarChart{
    background: #ffffff;
    width: 800px;
    height: 400px;
    margin: 40px auto 40px 160px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.1), 0px 2px 1px rgba(0,0,0,0.1);
}
.mainPage_type{
    margin-top: 15px;
    margin-left: 15px;
    float: left;
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #0A3A72;
}
.mainPage_change{
    margin-top: 15px;
    margin-right: 15px;
    float: right;
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: black;
}
.mainPage_issueOpenedChange{
    margin-top: 15px;
    margin-right: 15px;
    float: right;
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: black;
}
.mainPage_issueClosedChange{
    margin-top: 18px;
    margin-right: -77px;
    float: right;
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: black;
}
.mainPage_number{
    margin-top: 100px;
    text-align: center;
    font-size: 70px;
}
.mainPage_partTwoNumber{
    margin-top: 120px;
    text-align: center;
    font-size: 70px;
}
.mainPage_button{
    height: 30px;
    width: 270px;
    text-align: center;
    margin-top: 80px;
    margin-left: 15px;
    padding-top: 8px;
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: white;
    background-color: #28A2D6;
    border-radius: 3px;
}
.mainPage_nav:link{
    text-decoration:none;
}
.mainPage_now{
    margin: 13px 0 -25px 440px;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    float: left;
}
.mainPage_nowColor{
    margin: 15px 0 -25px 5px;
    height: 15px;
    width: 30px;
    background-color: #1F77B4;
    float: left;
}
.mainPage_last{
    margin: 13px 0 -25px 20px;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    float: left;
}
.mainPage_lastColor{
    margin: 15px 0 -25px 5px;
    height: 15px;
    width: 30px;
    background-color: #AEC7E8;
    float: left;
}
.mainPage_issueOpenedNow{
    margin: 8px 0 -25px 330px;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    float: left;
}
.mainPage_issueOpenedNowColor{
    margin: 14px 0 -25px 5px;
    height: 10px;
    width: 30px;
    background-color: #1F77B4;
    float: left;
}
.mainPage_issueClosedNow{
    margin: 8px 0 -25px 60px;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    float: left;
}
.mainPage_issueClosedNowColor{
    margin: 14px 0 -25px 5px;
    height: 10px;
    width: 30px;
    background-color: #AEC7E8;
    float: left;
}
.mainPage_issueOpenedLast{
    margin: 20px 0 -25px 330px;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    float: left;
}
.mainPage_issueOpenedLastColor{
    margin: 26px 0 -25px 5px;
    height: 10px;
    width: 30px;
    background-color: #FE7F0F;
    float: left;
}
.mainPage_issueClosedLast{
    margin: 20px 0 -25px 25px;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    float: left;
}
.mainPage_issueClosedLastColor{
    margin: 26px 0 -25px 5px;
    height: 10px;
    width: 30px;
    background-color: #FFBB78;
    float: left;
}

